<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @dependant.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @dependant.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @dependant.last_name %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @dependant.ssn %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @dependant.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dependant.gender %>
</p>

<%= link_to 'Edit', edit_dependant_path(@dependant) %> |
<%= link_to 'Back', dependants_path %>
