<p id="notice"><%= notice %></p>

<p>
  <strong>Line one:</strong>
  <%= @address.line_one %>
</p>

<p>
  <strong>Line two:</strong>
  <%= @address.line_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @address.postal_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
