<p id="notice"><%= notice %></p>

<p>
  <strong>Benefit status:</strong>
  <%= @subscriber.benefit_status %>
</p>

<p>
  <strong>Benefits:</strong>
  <%= @subscriber.benefits %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @subscriber.birth_date %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @subscriber.contacts %>
</p>

<p>
  <strong>Eligibility begin date:</strong>
  <%= @subscriber.eligibility_begin_date %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @subscriber.employment_status %>
</p>

<p>
  <strong>First name:</strong>
  <%= @subscriber.first_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @subscriber.gender %>
</p>

<p>
  <strong>Group or policy number:</strong>
  <%= @subscriber.group_or_policy_number %>
</p>

<p>
  <strong>Handicapped:</strong>
  <%= @subscriber.handicapped %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @subscriber.last_name %>
</p>

<p>
  <strong>Maintenance reason:</strong>
  <%= @subscriber.maintenance_reason %>
</p>

<p>
  <strong>Maintenance type:</strong>
  <%= @subscriber.maintenance_type %>
</p>

<p>
  <strong>Member:</strong>
  <%= @subscriber.member_id %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @subscriber.middle_name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @subscriber.relationship %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @subscriber.ssn %>
</p>

<p>
  <strong>Subscriber number:</strong>
  <%= @subscriber.subscriber_number %>
</p>

<p>
  <strong>Substance abuse:</strong>
  <%= @subscriber.substance_abuse %>
</p>

<p>
  <strong>Tobacco use:</strong>
  <%= @subscriber.tobacco_use %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
